<div ng-include="'partial/nav.html'"></div>

<main class="mt-5">
    <div class="container">
        <h1>Shopping basket</h1>
        <hr class="my-2" ng-if="currentUser.basket.length == 0">
        <h2 ng-if="currentUser.basket.length == 0">Your basket is empty</h2>
        <div class="table-responsive" ng-if="currentUser.basket.length > 0">
            <table class="table product-table">
                <!--Table head-->
                <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>QTY</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <!--/Table head-->

                <!--Table body-->
                <tbody>

                <!--First row-->
                <tr ng-repeat="product in currentUser.basket">
                    <th scope="row">
                        <img ng-src="{{product.imageUrl}}" alt="" class="img-fluid">
                    </th>
                    <td>
                        <h5><strong>{{product.model.name}}</strong></h5>
                        <p class="text-muted">{{product.make.name}}</p>
                    </td>
                    <td>{{product.color}}</td>
                    <td>{{product.price | currency:"€"}}</td>
                    <td>
                        <span class="qty">{{product.quantity}}</span>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm btn-elegant btn-rounded" ng-click="product.quantity - 1">
                                <input type="radio" name="options" id="option1">&mdash;
                            </label>
                            <label class="btn btn-sm btn-elegant btn-rounded" ng-click="product.quantity + 1">
                                <input type="radio" name="options" id="option2">+
                            </label>
                        </div>
                    </td>
                    <td>{{product.price * product.quantity | currency:"€"}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-elegant" data-toggle="tooltip" data-placement="top" title="Remove item" ng-click="ctrl.removeProduct(product)">X
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td>
                        <h4><strong>Total:</strong></h4></td>
                    <td>
                        <h4><strong>{{ctrl.totalPrice | currency:"€"}}</strong></h4></td>
                    <td colspan="3"><button type="button" class="btn btn-elegant" data-toggle="modal" data-target="#purchaseModal">Complete purchase  <i class="fa fa-angle-right right"></i></button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="purchaseModalLabel">Are you sure?</h4>
                    </div>
                    <!--Body-->
                    <form ng-submit="ctrl.confirmPurchase()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="cvcInput">Enter CVC to confirm purchase</label>
                                <input class="input-md" id="cvcInput" type="text" ng-model="ctrl.cvc">
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-elegant">Confirm purchase</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
                <!--/.Content-->
            </div>
        </div>

    </div>
</main>