<div ng-include="'partial/nav.html'"></div>
<main class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="card card-block" style="position: fixed">
                    <ul>
                        <li>
                            <label for="make">Manufacturer</label>
                            <select class="form-control" id="make" ng-model="makeSelect" ng-options="make as make.name for make in ctrl.makes | orderBy:'name' track by make.id">
                                <option value="">None</option>
                            </select>
                        </li>
                        <li>
                            <label for="color">Color</label>
                            <select class="form-control" id="color" ng-model="colorSelect">
                                <option value="">None</option>
                                <option value="Black">Black</option>
                                <option value="Blue">Blue</option>
                                <option value="Green">Green</option>
                                <option value="Orange">Orange</option>
                                <option value="Red">Red</option>
                                <option value="Yellow">Yellow</option>
                            </select>
                        </li>
                        <li>
                            <label for="minPrice">Min price</label>
                            <input class="form-control" style="width: 114px" type="number" id="minPrice" ng-model="ctrl.minPrice">
                        </li>
                        <li>
                            <label for="maxPrice">Max price</label>
                            <input class="form-control" style="width: 114px" type="number" id="maxPrice" ng-model="ctrl.maxPrice">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-6" ng-repeat="product in ctrl.products | orderBy:'-price' | filter : ({ makeName : makeSelect.name, color : colorSelect })"
                         ng-if="product.price <= ctrl.maxPrice && product.price >= ctrl.minPrice">
                        <div class="card">
                            <a href="#/product/{{product.id}}"><div class="img-view" ng-style="{'background-image':'url('+product.imageUrl+')'}"></div></a>
                            <div class="card-block">
                                <a href="#/product/{{product.id}}"><h4 class="card-title">{{product.make.name}} {{product.model.name}}</h4></a>
                                <p>{{product.color}}</p>
                                <div class="card-footer">
                                    <span class="left text-muted">{{product.price | currency:"€"}}</span>
                                    <span class="right"><a ng-click="ctrl.addToBasket(product)">+ <i class="fa fa-shopping-basket"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>