<div ng-include="'partial/nav.html'"></div>

<div class="on-top" ng-if="currentUser == null">
    <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
            <div class="card card-block login-card">
                <div class="row flex-center">
                    <form class="form-inline" ng-submit="ctrl.login()">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" ng-model="ctrl.user.email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword3" data-error="wrong" data-success="right">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" ng-model="ctrl.user.password">
                        </div>
                        <button type="submit" class="btn btn-elegant">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-7"></div>
        <div class="col-5">
            <div class="card login-card">
                <div class="card-block">
                    <div class="text-center">
                        <h3>Sign Up</h3>
                        <hr class="mt-2 mb-2">
                    </div>
                    <form class="row" ng-submit="ctrl.createUser()">
                        <div class="form-group col-6">
                            <label class="sr-only" for="form1">Your name</label>
                            <input type="text" id="form1" class="form-control" placeholder="Your name" ng-model="ctrl.new.name">
                        </div>
                        <div class="form-group col-6">
                            <label class="sr-only" for="form2">Your email</label>
                            <input type="text" id="form2" class="form-control" placeholder="Your email" ng-model="ctrl.new.email">
                        </div>
                        <br>
                        <div class="form-group col-6">
                            <label class="sr-only" for="form3">Your password</label>
                            <input type="password" id="form3" class="form-control" placeholder="Your password" ng-model="ctrl.new.password">
                        </div>
                        <div class="form-group col-6">
                            <label class="sr-only" for="form4">Re-enter password</label>
                            <input type="password" id="form4" class="form-control" placeholder="Re-enter password" ng-model="ctrl.newPassword2">
                        </div>
                        <br>
                        <div class="col-12 flex-center">
                            <button type="submit" class="btn btn-elegant">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="carousel-example-1" class="carousel slide" data-ride="carousel" data-interval="10000">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1" data-slide-to="1"></li>
        <li data-target="#carousel-example-1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
        </div>
        <div class="carousel-item">
        </div>
        <div class="carousel-item">
        </div>
    </div>
</div>