<div ng-include="'partial/nav.html'"></div>
<main class="mt-5">
    <div class="container">
        <div class="row flex-center">
            <div class="col-4">
                <div class="card">
                    <div class="card-block">
                        <div class="text-center">
                            <h3><i class="fa fa-lock"></i> Login:</h3>
                            <hr class="mt-2 mb-2">
                        </div>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="form2" class="form-control">
                            <label for="form2">Your email</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="form4" class="form-control">
                            <label for="form4">Your password</label>
                        </div>
                        <div class="text-center">
                            <button class="btn black">Login</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="options">
                            <p>Not a member? <a href="#">Sign Up</a></p>
                            <p>Forgot <a href="#">Password?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>